h1{

  border-bottom: 1px solid darkblue;
  background-color: darken($teal,20%);
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}
.container{
  width: 80%;
  margin: auto;


  .table{

    .row{

      display: flex;
      padding: 5px 0;
      border-bottom: 1px solid #ccc;
      position: relative;
      font-size: 18px;


      .id{
        width: 50px;
        text-align: center;
        font-weight: bold;
      }

      .col{

        width: 170px;
        padding: 0 10px ;
        text-align: center
      }

      .icons{

      position : absolute;
      right: 20px;
      form{

        display: inline-block;

        button{

          background: none;
          border: none;
          cursor: pointer;
        }
      }
      i{

        margin: 0 10px;
        font-size: 18px;


        &:hover{

          transform: scale(1.05);
          color: $teal;
        }
      }
      }

      &:nth-child(even){

        background-color: white;
      }

      &:nth-child(odd){
        background-color: #EFF0F1;
      }
      &.title{

        font-weight: bold;
        color: $blue;
        background-color: darken(#EFF0F1,5%);
      }

    }
  }

  .newCar{

    text-align: center;
    a{

      display: inline-block;
      font-size: 25px;
      margin-top: 20px;
      padding: 10px;
      background-color: $teal;
      color: white;
      border-radius: 10px;
      transition: background-color 0.3s ease;

      &:hover{

        background-color: darken($teal,20%)
      }

    }

  }
}
