form.post{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  border: 2px solid $navColor;
  border-radius: 5px;


  > *{

    margin: 8px 0;
  }

    label{

      display: inline-block;
      width: 150px;
      font-size: 20px;
      font-weight: bold;
      color: $laravRed;
    }

    input{

      padding: 5px;
      font-size: 18px;
      border-radius: 5px;
      border: none;
      border: 1px solid #ccc;
    }

    button{

      display: inline-block;
      font-size: 25px;
      margin-top: 20px;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: lighten($navColor, 10%);
      color: white;
      border-radius: 10px;
      transition: background-color 0.3s ease;

      &:hover{

        background-color: $navColor
      }
    }



}
