form.post{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  border: 3px solid red;
  border-radius: 5px;


  > *{

    margin: 8px 0;
  }

    label{
      display: inline-block;
      width: 100px;
    }

    input{

      padding: 3px;
    }

    button{

      padding: 5px;
    }



}
